In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import optbinning as opt
%matplotlib inline
import pandas as pd
from sklearn.impute import SimpleImputer
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from sklearn.preprocessing import OneHotEncoder, StandardScaler,KBinsDiscretizer, LabelEncoder
from sklearn.impute import SimpleImputer
import statsmodels.api as sm 
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score
from scipy.stats import chi2_contingency
import warnings
warnings.filterwarnings("ignore")

(CVXPY) Feb 23 05:02:31 PM: Encountered unexpected exception importing solver GLOP:
RuntimeError('Unrecognized new version of ortools (9.8.3296). Expected < 9.8.0. Please open a feature request on cvxpy to enable support for this version.')
(CVXPY) Feb 23 05:02:31 PM: Encountered unexpected exception importing solver PDLP:
RuntimeError('Unrecognized new version of ortools (9.8.3296). Expected < 9.8.0. Please open a feature request on cvxpy to enable support for this version.')

In [8]:
left_data=pd.read_csv("../data/application_train_vf.csv",parse_dates=["date_mensuelle"], index_col=0)

In [4]:
data=pd.read_csv("../data/bureau.csv") #

In [5]:
data

         SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE      CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0            215354       5714462        Closed      currency 1         -497                   0               -153.0             -153.0                     NaN                   0        91323.00                  0.0                   NaN                     0.0  Consumer credit                -131          NaN
1            215354       5714463        Active      currency 1         -208                   0               1075.0                NaN                     NaN                   0       225000.00             171342.0                   NaN                     0.0      Credit card                 -20          NaN
2            215354       5714464        Active      currency 1         -203                   0                528.0                NaN                     NaN                   0       464323.50                  NaN                   NaN                     0.0  Consumer credit                 -16          NaN
3            215354       5714465        Active      currency 1         -203                   0                  NaN                NaN                     NaN                   0        90000.00                  NaN                   NaN                     0.0      Credit card                 -16          NaN
4            215354       5714466        Active      currency 1         -629                   0               1197.0                NaN                 77674.5                   0      2700000.00                  NaN                   NaN                     0.0  Consumer credit                 -21          NaN
...             ...           ...           ...             ...          ...                 ...                  ...                ...                     ...                 ...             ...                  ...                   ...                     ...              ...                 ...          ...
1716423      259355       5057750        Active      currency 1          -44                   0                -30.0                NaN                     0.0                   0        11250.00              11250.0                   0.0                     0.0        Microloan                 -19          NaN
1716424      100044       5057754        Closed      currency 1        -2648                   0              -2433.0            -2493.0                  5476.5                   0        38130.84                  0.0                   0.0                     0.0  Consumer credit               -2493          NaN
1716425      100044       5057762        Closed      currency 1        -1809                   0              -1628.0             -970.0                     NaN                   0        15570.00                  NaN                   NaN                     0.0  Consumer credit                -967          NaN
1716426      246829       5057770        Closed      currency 1        -1878                   0              -1513.0            -1513.0                     NaN                   0        36000.00                  0.0                   0.0                     0.0  Consumer credit               -1508          NaN
1716427      246829       5057778        Closed      currency 1         -463                   0                  NaN             -387.0                     NaN                   0        22500.00                  0.0                   NaN                     0.0        Microloan                -387          NaN

[1716428 rows x 17 columns]

In [6]:
data["SK_ID_CURR"].nunique()

305811

In [ ]:
left_data=left_data[["SK_ID_CURR","TARGET"]]