In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import optbinning as opt
%matplotlib inline
import pandas as pd
from sklearn.impute import SimpleImputer
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from sklearn.preprocessing import OneHotEncoder, StandardScaler,KBinsDiscretizer, LabelEncoder
from sklearn.impute import SimpleImputer
import statsmodels.api as sm 
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score
from scipy.stats import chi2_contingency
import warnings
warnings.filterwarnings("ignore")

(CVXPY) Feb 20 12:53:27 PM: Encountered unexpected exception importing solver GLOP:
RuntimeError('Unrecognized new version of ortools (9.8.3296). Expected < 9.8.0. Please open a feature request on cvxpy to enable support for this version.')
(CVXPY) Feb 20 12:53:27 PM: Encountered unexpected exception importing solver PDLP:
RuntimeError('Unrecognized new version of ortools (9.8.3296). Expected < 9.8.0. Please open a feature request on cvxpy to enable support for this version.')

In [2]:
data=pd.read_csv("../data/application_train_vf.csv",parse_dates=["date_mensuelle"], index_col=0)

In [3]:
variables_retenues=['CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH'] #,'OWN_CAR_AGE'

In [4]:
data[variables_retenues].isna().mean()

CODE_GENDER                   0.000000
FLAG_OWN_CAR                  0.000000
FLAG_OWN_REALTY               0.000000
CNT_CHILDREN                  0.000000
AMT_INCOME_TOTAL              0.000000
AMT_CREDIT                    0.000000
AMT_ANNUITY                   0.000039
AMT_GOODS_PRICE               0.000905
NAME_INCOME_TYPE              0.000000
NAME_EDUCATION_TYPE           0.000000
NAME_FAMILY_STATUS            0.000000
NAME_HOUSING_TYPE             0.000000
REGION_POPULATION_RELATIVE    0.000000
DAYS_BIRTH                    0.000000
DAYS_EMPLOYED                 0.000000
DAYS_REGISTRATION             0.000000
DAYS_ID_PUBLISH               0.000000
dtype: float64

In [5]:
baseline_data=data[["TARGET"]+variables_retenues].dropna()

In [6]:
train_data, test_data=train_test_split(baseline_data, test_size=0.3, stratify=baseline_data["TARGET"], random_state=42)

In [7]:
formula =  "TARGET ~ CODE_GENDER+FLAG_OWN_CAR+FLAG_OWN_REALTY+CNT_CHILDREN+AMT_INCOME_TOTAL+AMT_CREDIT+AMT_ANNUITY+AMT_GOODS_PRICE+NAME_INCOME_TYPE+NAME_EDUCATION_TYPE+NAME_FAMILY_STATUS+NAME_HOUSING_TYPE+REGION_POPULATION_RELATIVE+DAYS_BIRTH+DAYS_EMPLOYED+DAYS_REGISTRATION+DAYS_ID_PUBLISH"

In [8]:
model_logit=sm.Logit.from_formula(formula=formula,data=train_data).fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.259103
         Iterations: 35

In [9]:
print(model_logit.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                 TARGET   No. Observations:               214072
Model:                          Logit   Df Residuals:                   214037
Method:                           MLE   Df Model:                           34
Date:                Tue, 20 Feb 2024   Pseudo R-squ.:                 0.04280
Time:                        12:53:40   Log-Likelihood:                -55467.
converged:                      False   LL-Null:                       -57947.
Covariance Type:            nonrobust   LLR p-value:                     0.000
========================================================================================================================
                                                           coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------------
Intercept                                              -14.7985   1587.140     -0.009      0.993   -3125.536    3095.939
CODE_GENDER[T.M]                                         0.3945      0.018     21.409      0.000       0.358       0.431
CODE_GENDER[T.XNA]                                     -27.9799   2.96e+06  -9.44e-06      1.000   -5.81e+06    5.81e+06
FLAG_OWN_CAR[T.Y]                                       -0.3055      0.019    -15.784      0.000      -0.343      -0.268
FLAG_OWN_REALTY[T.Y]                                     0.0178      0.018      0.964      0.335      -0.018       0.054
NAME_INCOME_TYPE[T.Commercial associate]                12.5479   1587.140      0.008      0.994   -3098.190    3123.285
NAME_INCOME_TYPE[T.Maternity leave]                     15.2904   1587.140      0.010      0.992   -3095.448    3126.028
NAME_INCOME_TYPE[T.Pensioner]                          -23.5590   1587.141     -0.015      0.988   -3134.299    3087.181
NAME_INCOME_TYPE[T.State servant]                       12.4241   1587.140      0.008      0.994   -3098.313    3123.162
NAME_INCOME_TYPE[T.Student]                              2.2188   1597.028      0.001      0.999   -3127.899    3132.336
NAME_INCOME_TYPE[T.Unemployed]                         -21.5740   1587.141     -0.014      0.989   -3132.314    3089.166
NAME_INCOME_TYPE[T.Working]                             12.7211   1587.140      0.008      0.994   -3098.016    3123.459
NAME_EDUCATION_TYPE[T.Higher education]                  0.6820      0.588      1.160      0.246      -0.470       1.834
NAME_EDUCATION_TYPE[T.Incomplete higher]                 0.8383      0.589      1.422      0.155      -0.317       1.993
NAME_EDUCATION_TYPE[T.Lower secondary]                   1.4790      0.591      2.503      0.012       0.321       2.637
NAME_EDUCATION_TYPE[T.Secondary / secondary special]     1.1837      0.588      2.014      0.044       0.032       2.336
NAME_FAMILY_STATUS[T.Married]                           -0.1848      0.027     -6.914      0.000      -0.237      -0.132
NAME_FAMILY_STATUS[T.Separated]                         -0.0063      0.040     -0.157      0.875      -0.085       0.072
NAME_FAMILY_STATUS[T.Single / not married]              -0.0636      0.032     -2.015      0.044      -0.125      -0.002
NAME_FAMILY_STATUS[T.Widow]                             -0.1181      0.050     -2.367      0.018      -0.216      -0.020
NAME_HOUSING_TYPE[T.House / apartment]                  -0.1266      0.131     -0.968      0.333      -0.383       0.130
NAME_HOUSING_TYPE[T.Municipal apartment]                -0.0836      0.137     -0.608      0.543      -0.353       0.186
NAME_HOUSING_TYPE[T.Office apartment]                   -0.3322      0.163     -2.043      0.041      -0.651      -0.013
NAME_HOUSING_TYPE[T.Rented apartment]                    0.0276      0.141      0.195      0.845      -0.249       0.304
NAME_HOUSING_TYPE[T.With parents]                       -0.0616      0.134     -0.458      0.647      -0.325       0.202
CNT_CHILDREN                                             0.0112      0.012      0.930      0.352      -0.012       0.035
AMT_INCOME_TOTAL                                     -3.655e-07   1.14e-07     -3.217      0.001   -5.88e-07   -1.43e-07
AMT_CREDIT                                            3.048e-06   1.29e-07     23.598      0.000    2.79e-06     3.3e-06
AMT_ANNUITY                                           1.027e-05   9.61e-07     10.684      0.000    8.38e-06    1.21e-05
AMT_GOODS_PRICE                                      -3.783e-06   1.49e-07    -25.429      0.000   -4.07e-06   -3.49e-06
REGION_POPULATION_RELATIVE                              -7.6046      0.664    -11.456      0.000      -8.906      -6.304
DAYS_BIRTH                                              3.7e-05   2.81e-06     13.148      0.000    3.15e-05    4.25e-05
DAYS_EMPLOYED                                         9.825e-05   5.17e-06     19.021      0.000    8.81e-05       0.000
DAYS_REGISTRATION                                     2.191e-05   2.63e-06      8.328      0.000    1.68e-05    2.71e-05
DAYS_ID_PUBLISH                                       7.487e-05   5.74e-06     13.037      0.000    6.36e-05    8.61e-05
========================================================================================================================

In [10]:
y_pred_proba=model_logit.predict(test_data)

In [11]:
2*roc_auc_score(test_data["TARGET"], y_pred_proba) - 1

0.3229297846568788